:root {
      --primary-font: 'Inter', sans-serif;
      --secondary-font: 'Poppins', sans-serif;

      /* COLORS */
      --color-gray: rgb(34, 34, 34); 
      --color-light-gray: rgb(128, 128, 128); 

      --white-bg: rgb(240, 240, 240);
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;

      font-family: var(--primary-font);
}

body {
      background: var(--white-bg);
}

.app {
      padding: 1rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.up {
      height: auto;
      width: 100%;
      /* width: 100%; */
      /* padding: 1rem; */

      background: var(--white-bg);
      background: #fff;

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
}

.form-contact {
      width: 50%;
      height: 400px;
      padding: 1rem;

      background: rgb(255, 255, 255);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.form__form-control {
      width: 100%;
      margin: 5px 0;
      padding: 12px;

      background: rgb(241, 241, 241);
      font-size: 16px;

      border: none;
      outline: none;
}

.form__form-control--save {
      font-weight: bold;

      background: #000;
      color: #fff;

      cursor: pointer;
}

.img-preview-container {
      height: 400px;
      padding: 1rem;

      background: #fff;
      color: #000;
      object-fit: cover;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

#imgPreview {
      height: 100%;
      width: 100%;
      object-fit: cover;
}


/* DRAG AREA */
.drag-area {
      width: 200px;
      height: 200px;

      border: 1px dashed #000;
}





.contacts-flex {
      height: auto;
      width: 100%;
      margin-top: 30px;

      color: #fff;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      gap: 2rem;
}

.card {
      /* min-height: 450px; */
      margin: auto;
      width: 100%;
      max-width: 286px;
      
      padding: 0rem;
      padding: 1rem;
      /* margin-bottom: 20px; */

      background: var(--white-bg);
      background: rgb(245, 245, 245);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      color: rgb(0, 0, 0);
      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
}

.card * {
      margin: 10px 0;
}

.card__urlImg {
      max-height: 200px;
      width: 100%;

      object-fit: contain;  
}

.actions__btn {
      padding: 8px;
      border: none;
      outline: none;
      cursor: pointer;

      font-weight: bold;
      font-size: 16px;
}

.actions__btn--edit {
      background: rgb(118, 190, 238);
}

.actions__btn--edit:hover {
      background: rgb(177, 214, 240);
}

.actions__btn--delete {
      background: rgb(204, 40, 40);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      color: #fff;
}

.actions__btn--delete:hover {
      background: rgb(216, 95, 95);
}


@media screen and (max-width: 1058px) {
      .up {
            width: 100%;     
      }

      .contacts-flex {
            width: 100%;

            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      }
}

/* @media screen and (max-width: 768px) {
      .up {
            width: 100%;     
      }

      .contacts-flex {
            width: 100%;

            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      }
} */

@media screen and (max-width: 650px) {
      .form-contact {
            width: 100%;
      }
}